.main-carousel {
    background-color: #EEEEEE;
    width: 100%;
    height: 425px;
}
.main-author-section {
    height: 335px;
}
.main-author-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.main-author-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-author-profile img {
    width: 125px;
    height: 125px;
    border-radius: 70%;
    object-fit: cover;
}
.main-author-profile span {
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 20px;
}
.main-titles {
    font-size: 2rem;
    padding: 100px 30px 30px 30px;
    display: flex;
}
.main-promotion {
    width: 100%;
    height: 130px;
    background: #FFE2E2;
}
.main-tab {
    margin-top: 35px;
}

/* production box */
.productionbox-grid {
    display: grid;
    position: relative;
    max-width: 280px;
    width: 280px;
    border: 1px solid #CDCDCD;
    justify-content: center;
    border-radius: 5px;
}
.productionbox-titleimg-area {
    width: 100%;
    max-width: 100%;
    height: 250px;
    overflow: hidden;
}
.productionbox-title-img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.productionbox-views-img {
    width: 30px;
    height: 30px;
}
.productionbox-heart {
    cursor: pointer;
    width: 40px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 3;
}
.productionbox-profileimg {
    width: 40px;
    height: 40px;
    border-radius: 70%;
}                                                
.productionbox-flex {
    display: flex;
    align-items: center;
    padding: 15px 0 0 15px;
}
.productionbox-views-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 15px 15px 0;
}
.productionbox-views-flex img {
    margin-right: 6px;
    opacity: 0.6;
}
.productionbox-views-flex span {
    font-size: 1.1rem;
}
.productionbox-title {
    font-weight: 700;
    font-size: 1.4rem;
}
.productionbox-date {
    color: #ADADAD;
    font-size: 0.95rem;
}
.productionbox-nickname {
    padding-left: 10px;
}
.productionbox-address {
    padding: 10px 0 0 15px;
    color: #4E4E4E;
}
.productionbox-date-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 15px;}
.productionbox-price {
    font-size: 1.5rem;
    font-weight: 800;
    color: #00AACF;
}
.productionbox-price-won {
    color: #4E4E4E;
}



/* maintab2 */
.maintab-second-lastboard {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}
.maintab-second-lastboard-eight {
    display: flex;
    justify-items: center;
    gap: 18px;
    flex-wrap: wrap;
}
.maintab-second-titleimg {
    margin-left: 10px;
    width: 40px;
    height: 40px;
}
.maintab-second-searchArea {
    background-color: #FEFFDE;
    height: 300px;
}

/* search chart */
.searchChart-main {
    width: 90%;
    height: 100%;
}
.searchChart-grid {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 220, 220);
    border-radius: 20px;
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.searchChart-Section {
    display: grid;
    gap: 10px;
    justify-items: center;
}
.searchChart-list {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.searchChart-Section div {
    font-size: 1.5rem;
}
.searchChart-rank {
    color: #FFA800;
    font-weight: 900;
    margin-right: 5px;
}



/* event */
.main-event-section {
    display: grid;
    gap: 15px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.event-main {
    cursor: pointer;
    width: 100%;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.event-title {
    font-size: 1.3rem;
    padding: 10px;
    font-weight: bolder;
}
.event-section {
    padding: 15px;
}
.event-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.event-detail-content {
    padding: 10px 10px 0 10px;
}
.event-profile {
    display: flex;
    align-items: center;
}
.event-date {
    font-size: 0.9rem;
    color: #909090;
}
.event-main:hover {
    background-color: rgb(78, 78, 78, 0.8);
    color: #EEEEEE;
}